<div class="section-1">
    <div class="product-add">
        <div class="card" style="display: flex; flex-direction: row; height: 750px;">
            <!-- LEWA CZESC ZE ZDJECIAMI -->
            <div class="photos" style="width: 60%; padding-top: 30px; padding-left: 40px;">
                <!-- <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"
                    style="margin-left: 5%; margin-right: 5%; margin-top: 13%;"></ngx-gallery>
                <hr> -->
                <hr style="width: 80%; margin: 0px;">
                <div class="itemek" *ngIf="photos">
                    <div class="itemko m-0 p-0" style="height: 80px; width: 80%; position: relative;"
                        *ngFor="let item of photos">

                        <img src="{{item.url}}" alt="" style="padding: 5px; width: 120px; height: 80px;">
                        <button class="btn btn-warning"
                            style="width: 40px; height: 40px; position: absolute; right: 100px; top: 19px; color: white;"><i
                                class="fa fa-home"></i></button>
                        <button class="btn btn-danger"
                            style="width: 40px; height: 40px; position: absolute; right: 50px; top: 19px;"
                            (click)="deletePhoto(item.id)"><i class="fa fa-trash"></i></button>
                        <hr class="p-0 m-0">

                    </div>
                </div>

                <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)"
                    [uploader]="uploader" class="card bg-faded p-3 my-drop-zone text-center"
                    style="width: 80%; border-left: none; border-right: none;">
                    <i class="fa fa-plus-square-o fa-3x"></i>
                    Upusc zdj tutaj
                </div>
                <!-- 
                Multiple
                <input type="file" ng2FileSelect [uploader]="uploader" multiple  /><br/>
        
                Single
                <input type="file" ng2FileSelect [uploader]="uploader" /> -->

            </div>
            <!-- PRAWA CZESC Z INFO -->
            <div class="desc" style="width: 40%;">
                <header class="mt-3">
                    <h4>Podstawowe dane:</h4>
                </header>
                <hr>
                <h6>Nazwa aukcji:</h6>
                <input class="textbox" style="width: 90%;">

                <div class="price pt-4 m-0 row">
                    <h6 style="padding-top: 3px; padding-right: 15px;">Cena:</h6>
                    <input class="textbox pl-2 i1" style="width: 20%; border-radius: 9999px;">
                    <h6 style="padding-top: 3px; padding-right: 15px; padding-left: 10px;">zl</h6>
                </div>

                <div class="price pt-4 m-0 row">
                    <h6 style="padding-top: 3px; padding-right: 18px;">Ilosc:</h6>
                    <input class="textbox pl-2 i1" style="width: 20%; border-radius: 9999px;">
                    <h6 style="padding-top: 3px; padding-right: 15px; padding-left: 10px;">szt.</h6>
                </div>

                <div class="condition pt-4">
                    <button *ngIf="condition != 'New'" class="btn btn-primary mt-2"
                        style="width: 90%; height: 70px; border-radius: 10px;" (click)="setNew()">
                        <h5 style="font-weight: bold;">Nowy</h5>
                        <p>Fabrycznie zapakowany</p>
                    </button>
                    <button *ngIf="condition === 'New'" class="btn btn-primary mt-2"
                        style="width: 90%; height: 70px; border-radius: 10px; border: 2px solid orange;">
                        <h5 style="font-weight: bold;">Nowy</h5>
                        <p>Fabrycznie zapakowany</p>
                    </button>
                    <button *ngIf="condition != 'Used'" class="btn btn-primary mt-2"
                        style="width: 90%; height: 70px; border-radius: 10px;" (click)="setUsed()">
                        <h5 style="font-weight: bold;">Uzywany</h5>
                        <p>Przedmiot odpakowany i uzywany</p>
                    </button>
                    <button *ngIf="condition === 'Used'" class="btn btn-primary mt-2"
                        style="width: 90%; height: 70px; border-radius: 10px; border: 2px solid orange;">
                        <h5 style="font-weight: bold;">Uzywany</h5>
                        <p>Przedmiot odpakowany i uzywany</p>
                    </button>
                    <button *ngIf="condition != 'Broken'" class="btn btn-primary mt-2"
                        style="width: 90%; height: 70px; border-radius: 10px;" (click)="setBroken()">
                        <h5 style="font-weight: bold;">Zepsuty</h5>
                        <p>Posiada wade, nie nadaje sie do uzytku</p>
                    </button>
                    <button *ngIf="condition === 'Broken'" class="btn btn-primary mt-2"
                        style="width: 90%; height: 70px; border-radius: 10px; border: 2px solid orange;">
                        <h5 style="font-weight: bold;">Zepsuty</h5>
                        <p>Posiada wade, nie nadaje sie do uzytku</p>
                    </button>
                </div>

                <div class="promotion row m-0 pt-4" [formGroup]="basicInfo">
                    <h6 style="margin-top: 1px;">Promocja:</h6>
                    <label class="radio-inline ml-3">
                        <input class="mr-1" type="radio" value="Yes" formControlName="isOccasion"> tak
                    </label>
                    <label class="radio-inline ml-3">
                        <input class="mr-1" type="radio" value='No' formControlName="isOccasion"> nie
                    </label>
                </div>

                <div *ngIf="basicInfo.get('isOccasion').value === 'Yes'" class="price pt-3 m-0 row">
                    <h6 style="padding-top: 3px; padding-right: 15px;">Nowa cena:</h6>
                    <input class="textbox pl-2 i1" style="width: 20%; border-radius: 9999px;">
                    <h6 style="padding-top: 3px; padding-right: 15px; padding-left: 10px;">zl</h6>
                </div>


                <h6 class="pt-4">Kategoria:</h6>
                <select style="width: 90%; height: 34px;">
                    <option *ngFor="let item of categories">
                        {{item.display}}
                    </option>
                </select>

                <div class="butonik">
                    <button class="btn btn-primary" (click)="tescik()">Usun</button>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="section-1">
    <div class="detailed-info">
        <div class="card" style="display:flex; flex-direction: row; height:fit-contents">
            <div class="body pl-5">
                <h2 class="pt-4">Parametry</h2>
                <hr>
                <div class="info" style="display: flex; flex-direction: row;">
                    <div class="c1" style="width: 290px;">
                        <p>Stan:</p>
                        <p>Detykowana karta:</p>
                    </div>
                    <div class="c1" style="width: 290px;">

                        <p *ngIf="condition === null" style="font-weight: bold;">Brak inf.</p>
                        <p *ngIf="condition === 'New'" style="font-weight: bold;">Nowy</p>
                        <p *ngIf="condition === 'Used'" style="font-weight: bold;">Uzywany</p>
                        <p *ngIf="condition === 'Broken'" style="font-weight: bold;">Zepsuty</p>

                        <select style="width: 70px;">
                            <option *ngFor="let item of dedicedCard">
                                {{item.display}}
                            </option>
                        </select>
                    </div>
                    <div class="c1" style="width: 290px;">
                        <p>Karta graficzna:</p>
                        <p>RAM:</p>
                    </div>
                    <div class="c1" style="width: 290px; display:flex; flex-direction: column;">
                        <input class="textbox" placeholder="Model karty graficznej">

                        <select class="c1 mt-2" style="width: 70px;">
                            <option *ngFor="let item of ram">
                                {{item.display}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-1">
    <div class="desc-2">
        <div class="card" style="height: fit-content; min-height: 200px;">
            <div class="body pl-5 pr-5">
                <h2 class="pt-4">Opis</h2>
                <hr style="width: 100%; margin-left: 0px; margin-bottom: 25px;">
                <form [formGroup]="productForm">
                    <div *ngFor="let item of partsOfDesc; let i = index" class="partOfDesc"
                        style="height: 490px; background-color: whitesmoke; width: 100%; margin-bottom: 0px; padding-top: 9px;">


                        <div class="row" style="margin-left: 41%;">
                            <div class="radio">
                                <label class="mr-3"><input class="mr-2" type="radio" [value]="1"
                                        (click)="dodanieParcika(item, 1)" formControlName="part{{item}}">Uklad 1</label>
                            </div>
                            <div class="radio">
                                <label class="mr-3"><input class="mr-2" type="radio" [value]="2"
                                        (click)="dodanieParcika(item, 2)" formControlName="part{{item}}">Uklad 2</label>
                            </div>
                            <div class="radio">
                                <label><input class="mr-2" type="radio" [value]="3" (click)="dodanieParcika(item, 3)"
                                        formControlName="part{{item}}">Uklad 3</label>
                            </div>
                        </div>


                        <!-- przypadek 1 -->
                        <div *ngIf="parciki[i] === 1" class="case-1 row p-0 m-0" style="width: 100%;">
                            <div class="part-1" style="width: 45%; margin-right: 1%; height: fit-content;">
                                <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                                    (fileOver)="fileOverBase($event)" [uploader]="uploader"
                                    (drop)="setPhotoSecondId(i)"
                                    class="card bg-faded p-3 my-drop-zone text-center"
                                    style="width: 550px; height: 350px; position: relative;">
                                    <p style="position: absolute; top: 47%; right: 44%;">Dodaj zdj</p>
                                </div>
                            </div>
                            <div class="part-2" style="width: 54%; height: 100%;">
                                <angular-editor formControlName="p{{item}}_Desc" [config]="editorConfig"></angular-editor>
                            </div>
                        </div>
                        <!-- przypadek 2 -->
                        <div *ngIf="parciki[i] === 2" class="case-1 row p-0 m-0" style="width: 100%;">
                            <div class="part-2" style="width: 54%; height: 100%;  margin-right: 1%;">
                                <angular-editor formControlName="p{{item}}_Desc" [config]="editorConfig"></angular-editor>
                            </div>
                            <div class="part-1" style="width: 45%; height: fit-content;">
                                <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                                    (fileOver)="fileOverBase($event)" [uploader]="uploader"
                                    (dragleave)="setPhotoSecondId(i)"
                                    class="card bg-faded p-3 my-drop-zone text-center"
                                    style="width: 550px; height: 350px; position: relative;  margin-right: 0%;">
                                    <p style="position: absolute; top: 47%; right: 44%;">Dodaj zdj</p>
                                </div>
                            </div>
                        </div>

                        <angular-editor *ngIf="parciki[i] === 3" formControlName="p{{item}}_Desc" [config]="editorConfig">
                        </angular-editor>
                    </div>
                </form>
                <div class="button-1" style="position: relative; height: 150px;">
                    <button class="btn btn-lg" style="position: absolute; bottom: 40px; right: 48%;"
                        (click)="numberOdDescPlus()"><i class="fa fa-plus-square fa-3x"></i></button>
                </div>

            </div>
        </div>
    </div>
</div>