<!-- <nav class="navbar navbar-expand-lg navbar-light">
    <a href="#" class="navbar-brand ml-3">Alle<span style="color:aqua">gero</span></a>
    <button class="navbar-toggler" type="button" data-toogle="collapse" data-targed="#navbarMenu1"
            aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle Navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse"></div>
    <div class="collapse navbar-collapse" id="navbarMenu1">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a href="#" class="nav-link">Home</a>
        </li>
        <li class="nav-item active">
          <a href="#" class="nav-link">Features</a>
        </li>
        <li class="nav-items active">
          <a href="#" class="nav-link">Events</a>
        </li>
        <li class="nav-items active">
          <a href="#" class="nav-link">Others</a>
        </li>
      </ul>
      
  </div>
</nav> -->



<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">

    <a class="navbar-brand ml-5" style="font-size: 200%" [routerLink]="['/main']">Allegero</a>

    <form class="form-inline">
      <input class="form-control" type="text" placeholder="Czego szukasz?">
      <button class="btn btn-outline-success" type="submit" style="width: 90px;"><i class="fa fa-search"></i>
        Szukaj</button>
    </form>

    <div class="items-group">
      <a href="#" class="icon"><i class="fa fa-star-o fa-2x text-white"></i></a>
      <a href="#" class="icon"><i class="fa fa-comment-o fa-2x text-white"></i></a>
      <a href="#"><i class="fa fa-bell-o fa-2x text-white"></i></a>
    </div>

    <div *ngIf="loggedIn()" style="position: absolute; right: 8%; color: white;">
      <!-- <h5>Witaj {{authService.decodedToken?.unique_name}}</h5> -->
      <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <a><h4 id="dropdownBasic1" ngbDropdownToggle>Witaj Dominik</h4></a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem>Action - 1</button>
              <button ngbDropdownItem>Another Action</button>
              <button ngbDropdownItem (click)="logOut()">Wyloguj sie</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!loggedIn()" class="header-links">
      <a class="px-2" (click)="openModalLogin(template)">Sign in</a>
      <a class="px-1" (click)="openModalRegister(template2)">Create an account</a>
    </div>

  </nav>
</header>


<!-- ngx modal login -->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Sign in</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <form class="form-signin" #loginForm="ngForm" (ngSubmit)="login()">
      <i class="mb-4 fa fa-amazon fa-3x"></i>
      <h1 class="h3 mb-3 font-weight-normal text-center">Please do it</h1>
      <input type="text" class="form-control" placeholder="Username" required name="username" [(ngModel)]="model.username">
      <input type="password" class="form-control" placeholder="Password" required name="password" [(ngModel)]="model.password">
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="modalRef.hide()">Sing in</button>
      <p class="mt-5 mb-3 text-muted">© 2017-2020</p>
    </form>
  </div>
</ng-template>


<!-- ngx modal register -->
<ng-template #template2>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Create an account</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <form class="form-signin" [formGroup]="registerForm" (ngSubmit)="register()">
      <i class="mb-4 fa fa-amazon fa-3x"></i>
      <h1 class="h3 mb-3 font-weight-normal text-center">Please do it</h1>
      <input type="text" id="inputEmail" class="form-control" placeholder="Username" required="" autofocus="" formControlName="username">
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" formControlName="password">
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="modalRef.hide()">Register</button>
      <p class="mt-5 mb-3 text-muted">© 2017-2020</p>
    </form>
  </div>
</ng-template>

