.header-app{
    height: 80px;
    border-bottom-style: solid;
    background-color: lightgray;
    border-bottom-width: 1px;
}
.center1{
    vertical-align: middle;
    padding: 15px;
}
.padLP1{
    padding-left: 10rem;
    padding-right: 10rem;
}
.holderek1{
    position: relative;
}
.zaokraglenie1{
    border-radius: 9999px;
    height: 40px;
    width: 600px;
    padding-left: 1rem;
    margin-top: 5px;
}
.odstep1{
    margin-right: 100px;
}
.pozycja1{
    position: absolute;
    left: 600px;
}
