<!-- section 4 TOP -->
<!-- left -->

<div class="section-4">
  <div class="div-left"></div>
  <div class="div1">
    <div class="card card-categories">
      <div class="header">
        <h4 class="modal-title text-center">Categories</h4>
      </div>
      <hr>
      <a [routerLink]="['/productCard']"><i class="fa fa-random" style="margin-right: 5%;"></i>Jakas kategoria</a>
      <a [routerLink]="['/productAdd', authService.decodedToken.nameid]" ><i class="fa fa-random" style="margin-right: 5%;"></i>Jakas kategoria</a>
      <a href="#"><i class="fa fa-random" style="margin-right: 5%;"></i>Jakas kategoria</a>
      <a href="#"><i class="fa fa-random" style="margin-right: 5%;"></i>Jakas kategoria</a>
      <a href="#"><i class="fa fa-random" style="margin-right: 5%;"></i>Jakas kategoria</a>
      <a href="#"><i class="fa fa-random" style="margin-right: 5%;"></i>Jakas kategoria</a>
      <a href="#"><i class="fa fa-random" style="margin-right: 5%;"></i>Jakas kategoria</a>
      <a href="#"><i class="fa fa-random" style="margin-right: 5%;"></i>Jakas kategoria</a>
      <a href="#"><i class="fa fa-random" style="margin-right: 5%;"></i>Jakas kategoria</a>
      <a href="#"><i class="fa fa-random" style="margin-right: 5%;"></i>Jakas kategoria</a>
    </div>
  </div>
  <!-- ----------------------------center----------------------------------- -->
  <div class="center-div">
    <!-- slider 1-->
    <div class="div2 slider1">
      <ngb-carousel *ngIf="images">
        <ng-template ngbSlide *ngFor="let item of images">
          <div class="picsum-img-wrapper">
            <img [src]="item" alt="Random first slide" style="width: 100%; min-height: 230px; max-height: 230px;">
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
    <!-- odstep -->
    <div class="div5" style="height: 8px;"></div>
    <!-- slider 2 -->
    <div class="div2 slider2">
      <div class="container slider4 pr-0 pl-0">
        <h4 style="position: absolute; padding-left: 20px; padding-top: 10px;">Warto zobaczyc:</h4>
        <hr style="position: absolute;">
        <owl-carousel-o [options]="customOptions" #owlCar>
          <ng-template carouselSlide *ngFor="let item of auctionsToSlider2">
            <div class="pr-1 pl-1" style="padding-top: 50px;">
              <div class="card" style="height: 150px; border: 0px solid;" (click)="owlCar.prev()">
                <img class="p-2 img-circle rounded-circle mx-auto" style="height: 8rem; width: 8rem;" src="{{item.itemPhotos[0].url}}">
                <div class="text-center">
                  <span class="text">{{item.name}}</span>
                </div>
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>

        <div class="carousel-btns">
          <div>
            <button class="btn btn-1" style="float: left;" (click)="owlCar.prev()">
              <i class="fa fa-chevron-left fa-2x"></i>
            </button>
            <button class="btn btn-2" style="float: right;" (click)="owlCar.next()">
              <i class="fa fa-chevron-right fa-2x"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- right -->
  <div class="div3">
    <div class="card card-categories">
      <div class="header">
        <h4 class="modal-title text-center">Premium</h4>
      </div>
      <hr>
      <div class="pl-2 pt-2 pb-5">
        <h3 class="pt-1"><i class="fa fa-star pr-2" style="color: red;"></i>Zbieraj punkty</h3>
        <h3 class="pt-1"><i class="fa fa-star pr-2" style="color: red;"></i>2 dni realizacja</h3>
        <h3 class="pt-1"><i class="fa fa-star pr-2" style="color: red;"></i>-30% dostawa</h3>
        <h3 class="pt-1"><i class="fa fa-star pr-2" style="color: red;"></i>Miesiac free</h3>
      </div>
      <button class="btn btn-primary" style="height: 70px;">Kup teraz</button>
    </div>
  </div>
  <div class="div-right"></div>
</div>

<!-- secton 5 -->
<div class="section-5">
  <div class="div-left"></div>
  <!-- lewy div -->
  <div class="div1 card p-0 m-0" style="display: flex; flex-direction: column; position: relative; min-width: 382px;">
    <div class="">
      <div class="header text-center" style="height: 31%;">
        <h4 class="pt-3">Okazja konczy sie za:</h4>
        <div style="display: flex;" style="height: 63.5%;">
            <div style="font-size: 50px; display: inline-block;"><p class="card m-0" style="background-color: rgb(0, 0, 0); color: white;">{{hoursLeft}}</p></div>
            <div style="font-size: 50px; display: inline-block;"><p class="m-0 pl-1 pr-1"> : </p></div>
            <div style="font-size: 50px; display: inline-block;"><p class="card m-0" style="background-color: rgb(0, 0, 0); color: white;">{{minLeft}}</p></div>
            <div style="font-size: 50px; display: inline-block;"><p class="m-0 pl-1 pr-1"> : </p></div>
            <div style="font-size: 50px; display: inline-block;"><p class="card m-0" style="background-color: rgb(0, 0, 0); color: white;">{{secondsLeft}}</p></div></div>        
      </div>
    </div>
    <div class="zdjecie" style="height: 40%; width: 50%; margin: auto; margin-top: 5%; margin-bottom: 5%;">
      <img src="{{occasion.itemPhotos[0].url}}" alt="" style="width: 100%; height: 100%;">
    </div>
    <!-- opis pod obrazkiem -->
    <div class="desc" style="width: 100%; height: 21.3%; position: absolute; bottom: 0%; display: flex;">
     <div class="1" style="height: 100%; width: 15%;"></div>
     <div class="2" style="height: 100%; min-width: 170px;">
      <h4 class="card" style="width: fit-content; background-color: rgb(9, 199, 9); color: white; display: inline-block;">-{{percent}}%</h4>
      <h5 style="display: inline-block; padding-left: 2%; text-decoration: line-through; color: grey;">{{occasion.price}}zł</h5>
      <h1>{{occasion.newestPrice}}zl</h1>
    </div>
     <div class="3" style="height: 100%; min-width: 198px;">
    <h3>{{occasion?.name}}</h3>
    <p>{{occasion.description}}</p>
  </div>
     <div class="4" style="height: 100%; width: 15%;"></div>
    </div>  
  </div>  
  <!-- srodkowy div -->
  <div class="div2">
    <div class="card" style="width: 100%; height: 100%; display: flex; flex-direction: column; min-width: 382px;">
      <div class="header pt-3 pl-4">
        <h4>Laptopy:</h4>
        <hr>
      </div>
      
      <div *ngFor="let item of auctions3" class="product" style="width: 100%; height: 23%; display: flex;" [routerLink]="['/productCard', item.id, item.sellerId]">
        <div class="img ml-5" style="width: 85px; height: 80px; margin-top: auto; margin-bottom: auto;">
          <img src={{item.itemPhotos[0].url}} alt="" style="width: 100%; height: 100%;">
        </div>
        <div class="desc ml-2" style="width: 200px; height: 80px; margin-top: auto; margin-bottom: auto;">
          <h5 class="m-0">{{item.name}}</h5>
          <h4 class="m-0">{{item.price}}zl</h4>
          <p>{{item.description}}</p>
        </div>
      </div>
      
      <div class="see-more text-center">
        <hr style="margin-bottom: 2.7%;">
        <a href="#" style="text-decoration: none;">ZOBACZ WIECEJ</a>
      </div>
    </div>
  </div>
  <!-- quadra divs -->
  <div class="quadra-divs" style="min-width: 382px;">
    <div class="row p-0 m-0" style="width: 100%; height: 100%;">
      <div class="" style="width: 49%; height: 49%; margin-right: 1%; margin-bottom: 1%;">
        <img src="../../assets/okazja1.jpg" style="width: 100%; height: 100%;">
      </div>
      <div class="" style="width: 49%; height: 49%; margin-left: 1%; margin-bottom: 1%">
        <img src="../../assets/okazja2.jpg" style="width: 100%; height: 100%;">
      </div>
      <div class="row p-0 m-0" style="width: 100%; height: 100%;">
        <div class="" style="width: 49%; height: 49%; margin-right: 1%; margin-top: 1%;">
          <img src="../../assets/okazja3.jpg" style="width: 100%; height: 100%;">
        </div>
        <div class="" style="width: 49%; height: 49%; margin-left: 1%; margin-top: 1%;">
          <img src="../../assets/okazja4.jpg" style="width: 100%; height: 100%;">
        </div>
      </div>
    </div>   
  </div>
  <div class="div-right"></div>
</div>

<!-- baner promo -->
<div class="section-6" style="width: 100%; height: 500px; margin-bottom: 50px;">
  <img src="../../assets/baner promo.jpg" alt="" style="width: 100%; height: 100%;">
</div>

<!-- section suport -->
<div class="container">
  <div class="section-3">
    <div class="contaner">
      <div class="row">
        <div class="col-md-4">
          <div class="d-flex flex-row">
            <i class="fa fa-question fa-3x m-2"></i>
            <div class="d-flex flex-column">
              <h3 class="m-2">24/7 Support</h3>
              <p class="m-2">Lorem ipsum dolor sit amet, pellentesque eu,
                pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="d-flex flex-row">
            <i class="fa fa-question fa-3x m-2"></i>
            <div class="d-flex flex-column">
              <h3 class="m-2">24/7 Support</h3>
              <p class="m-2">Lorem ipsum dolor sit amet, pellentesque eu,
                pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="d-flex flex-row">
            <i class="fa fa-question fa-3x m-2"></i>
            <div class="d-flex flex-column">
              <h3 class="m-2">24/7 Support</h3>
              <p class="m-2">Lorem ipsum dolor sit amet, pellentesque eu,
                pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- footer -->
<footer style="background-color: whitesmoke;">
  <div class="section-footer text-center mt-5">
    <h4 style="padding-top: 5%;">Get Template Design From Daily sratata</h4>
    <h4 class="my-4">If you need help</h4>

    <div class="form-inline justify-content-center">
      <input type="text" name="Email" id="email" placeholder="E-mail" size="40" class="form-control px-4 py-2">
      <input type="button" value="Contact us" class="btn btn-danger px-4 py-2">
    </div>

    <div class="social" style="margin:4%">
      <div class="d-flex flex-row justify-content-center">
        <i class="fa fa-facebook-f m-2 fa-2x"></i>
        <i class="fa fa-twitter m-2 fa-2x"></i>
        <i class="fa fa-instagram m-2 fa-2x"></i>
        <i class="fa fa-twitter m-2 fa-2x"></i>
        <i class="fa fa-youtube m-2 fa-2x"></i>
      </div>
    </div>

    <hr>
    <h5 style="color:blue">Allegero &copy;</h5>
  </div>
</footer>